// ============================================================================
// Fichier : _game.scss
// Description : Page de jeu principale (vue en jeu).
// ============================================================================

.page-game {
  min-height: 100vh;
}


