// ============================================================================
// Fichier : _index.scss (pages)
// Description : Export des styles spécifiques à chaque page.
// ============================================================================

@forward './home';
@forward './login';
@forward './register';
@forward './character-creation';
@forward './game';
@forward './profile';
@forward './_world.scss';
@forward './leaderboard';


