// ============================================================================
// Fichier : _leaderboard.scss
// Description : Page de classements.
// ============================================================================

.page-leaderboard {
  min-height: 100vh;
}
