// ============================================================================
// Fichier : _login.scss
// Description : Page de connexion.
// ============================================================================

.login {
  // plein écran avec image de fond
  width: 100vw;
  height: 100vh;
  background: url('../../assets/images/backgrounds/login-personnages-conversation.webp') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.6); // optionnel pour lisibilité
    padding: 2rem;
    border-radius: 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
  }

  &__title {
    text-align: center;
    color: #fff;
  }

  &__field {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
  }

  &__button {
    width: 100%;
    padding: 0.75rem;
    cursor: pointer;

    &--primary {
      background-color: #79210b;
      color: #fff;
      border: none;
    }

    &--secondary {
      background-color: #5c5120;
      color: #fff;
      border: none;
    }
  }
}

.login__title {
  text-align: center;
  color: #fff;
  transition: opacity 0.5s ease-in-out; // fondu

  &.fade {
    opacity: 0.5; // léger fondu, pas de couleur accentuée
  }
}

