// ============================================================================
// Fichier : _profile.scss
// Description : Page de profil joueur.
// ============================================================================

.page-profile {
  min-height: 100vh;
}


