// ============================================================================
// Fichier : _register.scss
// Description : Page d'inscription.
// ============================================================================

.page-register {
  min-height: 100vh;
}
