.character-layer {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  column-gap: 6px;
  row-gap: 6px;
  justify-content: center;
  border-radius: 6px;
  position: relative;
  height: 100%;
  width: 100%;
}

.character-layer-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 100%;
}

.character-layer-header {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &__name {
    color: #f1c40f;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }

  &__stats {
    color: #ecf0f1;
    font-size: 0.9rem;
  }
}

/* Personnage au centre */
.character-layer__character {
  grid-column: 2 / 5;
  grid-row: 1 / 6;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* IMPORTANT : chemins absolus → fonctionne en dev + prod */
.character--male {
  background-image: url("/src/assets/images/characters/homme-souvetements.png");
}

.character--female {
  background-image: url("/src/assets/images/characters/femme-souvetements.png");
}

/* Style générique des slots */
.character-layer__slot {
  border: 1px solid #666;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
}

.character-layer__item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Ligne du haut (4 slots) */
.slot--left-earring {
  grid-column: 1;
  grid-row: 1;
}
.slot--right-earring {
  grid-column: 2;
  grid-row: 1;
}
.slot--headgear {
  grid-column: 4;
  grid-row: 1;
}
.slot--ranged-weapon {
  grid-column: 5;
  grid-row: 1;
}

/* Deuxième ligne (2 slots) */
.slot--necklace {
  grid-column: 1;
  grid-row: 2;
}
.slot--chest-armor {
  grid-column: 5;
  grid-row: 2;
}

/* Troisième ligne (4 slots) */
.slot--left-bracelet {
  grid-column: 1;
  grid-row: 3;
}
.slot--right-hand {
  grid-column: 2;
  grid-row: 3;
}
.slot--left-hand {
  grid-column: 4;
  grid-row: 3;
}
.slot--gloves {
  grid-column: 5;
  grid-row: 3;
}

/* Quatrième ligne (2 slots) */
.slot--right-bracelet {
  grid-column: 1;
  grid-row: 4;
}
.slot--leg-armor {
  grid-column: 5;
  grid-row: 4;
}

/* Ligne du bas (4 slots) */
.slot--left-ring {
  grid-column: 1;
  grid-row: 5;
}
.slot--right-ring {
  grid-column: 2;
  grid-row: 5;
}
.slot--boots {
  grid-column: 4;
  grid-row: 5;
}
.slot--bag {
  grid-column: 5;
  grid-row: 5;
}
