// ============================================================================
// Fichier : _default.scss
// Description : Thème par défaut du jeu.
// ============================================================================

.theme-default {
  color-scheme: dark;
}
