// ============================================================================
// Fichier : _fantasy.scss
// Description : Thème fantasy (couleurs plus saturées, ambiance heroic-fantasy).
// ============================================================================

.theme-fantasy {
  color-scheme: dark;
}
