// ============================================================================
// Fichier : _colors.scss
// Description : Classes utilitaires pour les couleurs de texte et de fond.
// ============================================================================

.text-primary {
  color: #4f46e5;
}

.bg-primary {
  background-color: #4f46e5;
}
