// ============================================================================
// Fichier : _display.scss
// Description : Utilitaires de display (flex, grid, etc.).
// ============================================================================

.d-flex {
  display: flex !important;
}
