// ============================================================================
// Fichier : _text.scss
// Description : Classes utilitaires pour le texte.
// ============================================================================

.text-center {
  text-align: center !important;
}
