// ============================================================================
// Fichier : _variables.scss
// Description : Variables SASS globales (couleurs, typos, espacements, etc.).
// ============================================================================


